@page "/"
@inject IJSRuntime jsRuntime

<div class="mt-5">
    <div id="">
        <button class="" disabled="@recording" @onclick=Record>Record</button>
        <button class="" disabled="@(!recording)" @onclick=Stop>Stop</button>
    </div>

    @foreach (var blobURL in blobURLs)
    {
        <audio src="@blobURL" controls autoplay />
    }

</div>

@code {

    bool recording = false;
    List<string> blobURLs = new List<string>();
    RecorderLib.VoiceRecorder? recorder;

    protected override void OnInitialized()
    {
        recorder = new RecorderLib.VoiceRecorder(jsRuntime);
    }

    async void Record()
    {
        try
        {
            recording = true;
            var blobURL = await recorder?.Start()!;
            blobURLs.Add(blobURL);
        }
        catch (Exception ex)
        {
            await jsRuntime.InvokeVoidAsync("alert", ex.Message);
        }
        finally
        {
            recording = false;
            StateHasChanged();
        }
    }

    void Stop()
    {
        recorder?.Stop();
    }
}